<div class="container p-5 w-50 bg-light shadow rounded my-2">
  <h2 class="text-center mb-3">Hola <%= current_user.name %>, editá tus datos acá:</h2>

  <% if current_user.supplier %>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put}, data: {controller: "edit-form"}) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
        <%= f.input :name,
                    required: true,
                    label: "Nombre"%>
        <%= f.input :last_name,
                    required: false,
                    label: "Apellido"%>
        <%= f.input :user_name,
                    required: true,
                    label: "Nombre de usuario"%>
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :avatar,
                    as: :file,
                    required: false,
                    label: "Foto de perfil"%>
        <%= f.input :business_name,
                    label: "Nombre de tu Empresa",
                    required: true,
                    wrapper_html: { class: "prove" } %>
        <%= f.input :address,
                    label: "Dirección",
                    required: true,
                    wrapper_html: { class: "prove" } %>
        <%= f.input :photos,
                    as: :file,
                    input_html: {multiple: true},
                    required: false,
                    label: "Fotos del servicio"%>
        <%= f.input :rut,
                    label: "Registro Único Tributario",
                    required: false,
                    wrapper_html: { class: "prove" } %>
        <%= f.input :description,
                    label: "Descripccion de la empresa",
                    required: true,
                    wrapper_html: { class: "prove" } %>
        <%= f.input :duration,
                    label: "Duración del servicio",
                    required: false %>
        <%= f.input :capacity,
                    label: "Capacidad del servicio",
                    required: false %>
        <%= f.input :includes,
                    label: "¿Qué está incluido en el servicio?",
                    required: false %>
        <%= f.input :benefits,
                    label: "Beneficios adicionales del servicio",
                    required: false %>
        <%= f.input :notes,
                    label: "Notas adicionales del servicio",
                    required: false %>
        <%= f.input :password,
                    as: :boolean,
                    label: "Modificar mi contraseña",
                    input_html: { data: {edit_form_target:"checkpass", action: "click->edit-form#showPassword" }},
                    wrapper_html: { id: "checkbox", type:"checkbox"} %>
        <%= f.input :current_password,
                    label: "Contraseña",
                    label_html: { data: {edit_form_target:"label"}},
                    hint: "Ingresá tu contraseña para confirmar los cambios",
                    required: true,
                    input_html: { data: {edit_form_target:"currentpass"}, autocomplete: "current-password" } %>
        <%= f.input :password,
                    label: "Nueva contraseña",
                    hint: "Ingresá tu nueva contraseña",
                    required: false,
                    hint_html: {data: {edit_form_target:"passwords"}, class: 'hidden'},
                    label_html: {data: {edit_form_target:"passwords"}, class: 'hidden'},
                    required: false,
                    input_html: { data: {edit_form_target:"passwords"}, class: 'hidden', autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    label: "Confirmá tu contraseña",
                    hint: "Confirmá tu nueva contraseña",
                    required: false,
                    hint_html: {data: {edit_form_target:"passwords"}, class: 'hidden'},
                    label_html: {data: {edit_form_target:"passwords"}, class: 'hidden'},
                    input_html: {data: {edit_form_target:"passwords"}, class: 'hidden', autocomplete: "new-password" } %>

      </div>

      <div class="form-actions d-flex mb-3">
        <%= f.button :submit, "Update", class: "btn btn-success text-light flex-grow-1" %>
      </div>
    <% end %>

  <% else %>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }, data: {controller: "edit-form"}) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
        <%= f.input :name,
                    required: true,
                    label: "Nombre"%>
        <%= f.input :last_name,
                    required: false,
                    label: "Apellido"%>
        <%= f.input :user_name,
                    required: true,
                    label: "Nombre de usuario"%>
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :avatar,
                    as: :file,
                    required: false,
                    label: "Foto de perfil"%>
         <%= f.input :password,
                    as: :boolean,
                    label: "Modificar mi contraseña",
                    input_html: { data: {edit_form_target:"checkpass", action: "click->edit-form#showPassword" }},
                    wrapper_html: { id: "checkbox", type:"checkbox"} %>

        <%= f.input :current_password,
                    label: "Contraseña",
                    label_html: { data: {edit_form_target:"label"}},
                    hint: "Ingresá tu contraseña para confirmar los cambios",
                    required: true,
                    input_html: { data: {edit_form_target:"currentpass"}, autocomplete: "current-password" } %>
        <%= f.input :password,
                    label: "Nueva contraseña",
                    hint: "Ingresá tu nueva contraseña",
                    required: false,
                    hint_html: {data: {edit_form_target:"passwords"}, class: 'hidden'},
                    label_html: {data: {edit_form_target:"passwords"}, class: 'hidden'},
                    required: false,
                    input_html: { data: {edit_form_target:"passwords"}, class: 'hidden', autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    label: "Confirmá tu contraseña",
                    hint: "Confirmá tu nueva contraseña",
                    required: false,
                    hint_html: {data: {edit_form_target:"passwords"}, class: 'hidden'},
                    label_html: {data: {edit_form_target:"passwords"}, class: 'hidden'},
                    input_html: {data: {edit_form_target:"passwords"}, class: 'hidden', autocomplete: "new-password" } %>



      </div>

      <div class="form-actions d-flex mb-3">
        <%= f.button :submit, "Update", class: "btn btn-success text-light flex-grow-1" %>
      </div>
    <% end %>
  <% end %>
  <h4 class="mt-5">Cancelar mi cuenta</h4>
  <div class="d-flex justify-content-between mt-1">
    <p class= "flex-grow-1">¿No estás content@? <i class="fa-solid fa-face-sad-tear" style="color: #696969;"></i></p>
    <%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class:"text-secondary text-decoration-none border-0 bg-light" %>
  </div>

  <%= link_to "Volver", root_path, class: "btn btn-ghost text-light" %>
</div>
