<div class="container p-5 w-50 bg-light shadow rounded my-2">
  <h2 class= "text-center mb-3">Bienvenido a Eventik <i class="fa-solid fa-face-smile" style="color: #5C5C5C;"></i></h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false, controller: "disable-form"}) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs lh-lg">
      <%= f.input :name,
                  required: true,
                  label: "Nombre"%>
      <%= f.input :last_name,
                  required: false,
                  label: "Apellido"%>
      <%= f.input :user_name,
                  required: true,
                  label: "Nombre de usuario"%>
      <%= f.input :birth_date,
                  html5:true,
                  required: true,
                  label: "Fecha de nacimiento"%>
      <%= f.input :avatar,
                  as: :file,
                  required: false,
                  label: "Foto de perfil"%>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  label: "Contraseña",
                  required: true,
                  hint: ("#{@minimum_password_length} caracteres minimos" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  label: "Confirmá tu contraseña",
                  required: true,
                  input_html: { autocomplete: "new-password" } %>


      <%= f.input :supplier,
                  as: :boolean,
                  label: "Quiero ofrecer un servicio",
                  required: false,
                  input_html: { data: {action: "click->disable_form#hide", disable_form_target:"checkbox"}},
                  wrapper_html: { id: "checkbox", type:"checkbox"}%>


      <%= f.input :business_name,
                  label: "Nombre de tu Empresa",
                  required: true,
                  input_html: { data: {disable_form_target:"fields"}},
                  wrapper_html: { class: 'hidden' } %>

      <%= f.input :service_type,
                  label: "Tipo de Servicio",
                  required: true,
                  input_html: { data: {disable_form_target:"fields"}},
                  :collection => ["Fotografía", "Catering", "Espacios", "Entretenimiento", "Invitaciones & Decoración", "Disfraces & Accesorios"],
                  :prompt => "Elegí la categoría que representa a tu servicio",
                  wrapper_html: { class: 'hidden' } %>
      <%= f.input :address,
                  label: "Dirección",
                  required: true,
                  input_html: { data: {disable_form_target:"fields"}},
                  wrapper_html: { class: 'hidden' } %>
      <%= f.input :photos,
                  as: :file,
                  input_html: {multiple: true, data: {disable_form_target:"fields"}},
                  wrapper_html: { class: 'hidden' },
                  required: false,
                  label: "Fotos del servicio"%>
      <%= f.input :rut,
                  label: "Registro Único Tributario",
                  required: false,
                  input_html: { data: {disable_form_target:"fields"}},
                  wrapper_html: { class: 'hidden' } %>
      <%= f.input :description,
                  label: "Descripccion de la empresa",
                  input_html: { data: {disable_form_target:"fields"}},
                  required: true,
                  wrapper_html: { class: 'hidden' } %>
    </div>

    <div class="form-actions d-flex mb-3">
      <%= f.button :submit, "Sign up", class: "btn btn-success text-light flex-grow-1" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
