<div class="container p-5 w-50 bg-light shadow rounded my-2">
  <h2 class= "text-center mb-3">Bienvenido a Eventik <i class="fa-solid fa-face-smile" style="color: #5C5C5C;"></i></h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs lh-lg">
      <%= f.input :name,
                  required: true,
                  label: "Nombre"%>
      <%= f.input :last_name,
                  required: false,
                  label: "Apellido"%>
      <%= f.input :user_name,
                  required: true,
                  label: "Nombre de usuario"%>
      <%= f.input :birth_date,
                  html5:true,
                  required: true,
                  label: "Fecha de nacimiento"%>
      <%= f.input :avatar,
                  as: :file,
                  required: false,
                  label: "Foto de perfil"%>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  label: "Contraseña",
                  required: true,
                  hint: ("#{@minimum_password_length} caracteres minimos" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  label: "Confirmá tu contraseña",
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :supplier,
                  label: "¿Querés ofrecer un Servicio?",
                  required: false,
                  wrapper_html: { class: "prove" } %>
      <%= f.input :business_name,
                  label: "Nombre de tu Empresa",
                  required: true,
                  wrapper_html: { class: "prove" } %>
      <%= f.input :address,
                  label: "Dirección",
                  required: true,
                  wrapper_html: { class: "prove" } %>
      <%= f.input :photos,
                  as: :file,
                  input_html: {multiple: true},
                  required: false,
                  label: "Fotos del servicio"%>
      <%= f.input :rut,
                  label: "Registro Único Tributario",
                  required: false,
                  wrapper_html: { class: "prove" } %>
      <%= f.input :service_type,
                  :collection => ["Fotografía", "Catering", "Espacios", "Entretenimiento", "Invitaciones & Decoración", "Disfraces & Accesorios"],
                  label: "Elegí la categoría que representa tu servicio",
                  required: true,
                  wrapper_html: { class: "prove" } %>
      <%= f.input :description,
                  label: "Descripccion de la empresa",
                  required: true,
                  wrapper_html: { class: "prove" } %>
      <%= f.input :event_types,
                  as: :check_boxes,
                  input_html: {multiple: true} ,
                  :collection => ["Cumpleaños Infantiles", "Cumpleaños Adultos", "Despedidas", "Casamientos", "Bautismos", "Baby Showers", "Empresariales", "15 Años", "Personalizados" ],
                  label: "Seleccioná el/los tipo/s de Evento/s en el/los que prestás servicio",
                  required: false,
                  wrapper_html: { class: "prove" } %>
    </div>

    <div class="form-actions d-flex mb-3">
      <%= f.button :submit, "Sign up", class: "btn btn-success text-light flex-grow-1" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
