<div class="user-service d-flex">
  <div class="aside p-4" style="background-color: rgb(255, 255, 255); height: calc(100vh - 130px)">
      <%= form_with url: users_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control rounded-pill",
            placeholder: "Nombre"
        %>
      <%= submit_tag "Buscar", name: "", class: "btn btn-flat" %>
    <% end %>
    <ul class="filter-list list-unstyled">
      <li class="mb-3 mt-3 service">Filtra por tipo de servicio</li>
      <li class="filter mb-2" onclick="suppliersFilter('Espacios')"><i class="fa fa-filter" style="color: rgb(255, 59, 184)"></i> Espacios</li>
      <li class="filter mb-2" onclick="suppliersFilter('Fotografía')"><i class="fa fa-filter" style="color: rgb(255, 59, 184)"></i> Fotografía</li>
      <li class="filter mb-2" onclick="suppliersFilter('Catering')"><i class="fa fa-filter" style="color: rgb(255, 59, 184)"></i> Catering</li>
      <li class="filter mb-2" onclick="suppliersFilter('Entretenimiento')"><i class="fa fa-filter" style="color: rgb(255, 59, 184)"></i> Entretenimiento</li>
      <li class="filter mb-2" onclick="suppliersFilter('Invitaciones & Decoración')"><i class="fa fa-filter" style="color: rgb(255, 59, 184)"></i> Invitaciones & Decoración</li>
      <li class="filter mb-2" onclick="suppliersFilter('Disfraces & Accesorios')"><i class="fa fa-filter" style="color: rgb(255, 59, 184)"></i> Disfraces & Accesorios</li>
      <li class="filter mb-2" onclick="suppliersFilter('todos')"><i class="fas fa-th-large" style="color: rgb(255, 59, 184)"></i> Mostrar todos</li>
    </ul>
    <%= link_to "Pagina principal", root_path, class:"btn btn-success" %>
  </div>
  <div class="container">

  <div class="d-flex flex-wrap justify-content-evenly">
    <% @suppliers.each do |supplier| %>
      <div class="card-trip me-2 mb-4" style="width: 18rem; height: 383px; overflow-y: auto;" data-service-type="<%= supplier.service_type %>">
        <%= cl_image_tag supplier.photos.first.key, class:"card-img-top" %>
        <div class="card-trip-infos">
          <h5 class="card-title" style="color: rgb(50, 50, 50)"><%= supplier.business_name %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= supplier.service_type %></h6>
          <div style="max-height: 200px; overflow-y: auto;">
            <p><%= supplier.description %></p>
          </div>
          <% if @event %>
            <%= button_to "Ver información", user_path(supplier), method: :get, params: {event: @event.id}, class:"btn btn-secondary mt-2" %>
          <% else %>
            <%= link_to "Ver información", user_path(supplier), class:"btn btn-secondary mt-2"  %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>





<script>
  function suppliersFilter(filter) {
    let suppliers = document.getElementsByClassName('card-trip');

    for (let i = 0; i < suppliers.length; i++) {
      let supplier = suppliers[i];
      let serviceType = supplier.getAttribute('data-service-type');

      if (serviceType === filter || filter === 'todos') {
        supplier.style.display = 'block';
      } else {
        supplier.style.display = 'none';
      }
    }
  }
</script>
