<div class="user-service d-flex">
  <div class="aside p-3" style="background-color: rgb(255, 255, 255); height: calc(100vh - 130px)">
  <% if @event %>
    <div class="ruta pb-2">
      <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to "Home", root_path, class: "text-decoration-none text-success" %></li>
          <li class="breadcrumb-item"><%= link_to "Eventos", pages_events_path, class: "text-decoration-none text-success" %></li>
          <li class="breadcrumb-item active" aria-current="page">Servicios</li>
        </ol>
      </nav>
    </div>
  <% else %>
    <div class="ruta pb-2">
      <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to "Home", root_path, class: "text-decoration-none text-success" %></li>
          <li class="breadcrumb-item active" aria-current="page">Servicios</li>
        </ol>
      </nav>
    </div>
  <% end %>
  <%= form_with url: users_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control border-top border-start border-botton",
      placeholder: "Nombre"
    %>
    <%# <%= submit_tag "Buscar", name: "", class: "btn btn-flat" %>
    <%= button_tag type: "submit", class: "btn btn-success text-light" do %>
      <i class="fas fa-search"></i>
    <% end %>
  <% end %>
    <ul class="filter-list list-unstyled">
      <li class="mb-3 mt-3 service">Filtra por tipo de servicio</li>
      <li class="filter mb-2" onclick="suppliersFilter('Espacios')"><i class="fa-solid fa-caret-right"></i></i> Espacios</li>
      <li class="filter mb-2" onclick="suppliersFilter('Fotografía')"><i class="fa-solid fa-caret-right"></i></i> Fotografía</li>
      <li class="filter mb-2" onclick="suppliersFilter('Catering')"><i class="fa-solid fa-caret-right"></i></i> Catering</li>
      <li class="filter mb-2" onclick="suppliersFilter('Entretenimiento')"><i class="fa-solid fa-caret-right"></i></i> Entretenimiento</li>
      <li class="filter mb-2" onclick="suppliersFilter('Invitaciones & Decoración')"><i class="fa-solid fa-caret-right"></i></i> Invitaciones & Decoración</li>
      <li class="filter mb-2" onclick="suppliersFilter('Disfraces & Accesorios')"><i class="fa-solid fa-caret-right"></i></i> Disfraces & Accesorios</li>
      <li class="filter mb-2" onclick="suppliersFilter('todos')"><i class="fa-solid fa-caret-right"></i></i> Mostrar todos</li>
    </ul>
    <% if params[:query] %>
      <%= button_to "limpiar", users_path, method: :get, class:"btn btn-light" %>
    <% end %>
  </div>

  <div class="cards-scroll container">
    <div class="d-flex flex-wrap justify-content-evenly">
      <% @suppliers.each do |supplier| %>
        <% if @event %>
          <%= link_to user_path(supplier, event: @event.id), class: "text-decoration-none" do %>
            <div class="card-trip me-2 mb-4" style="width: 18rem; height: 300px;" data-service-type="<%= supplier.service_type %>">
              <%= cl_image_tag supplier.photos.first.key, class:"card-img-top" %>
              <div class="card-trip-infos">
              <h5 class="card-title" style="color: rgb(50, 50, 50)"><%= supplier.business_name %></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%= supplier.service_type %></h6>
              <% if supplier.get_average == "Este proveedor aún no tiene comentarios" %>
                <p style="color: #000000;"> </p>
              <% else %>
                <h6><i class="fa-sharp fa-solid fa-star pink-button"></i> <%= supplier.get_average %></h6>
              <% end %>
            </div>
          </div>
          <% end %>
        <% else %>
          <%= link_to user_path(supplier), class: "text-decoration-none" do %>
            <div class="card-trip me-2 mb-4" style="width: 18rem; height: 300px;" data-service-type="<%= supplier.service_type %>">
              <%= cl_image_tag supplier.photos.first.key, class:"card-img-top" %>
              <div class="card-trip-infos">
              <h5 class="card-title" style="color: rgb(50, 50, 50)"><%= supplier.business_name %></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%= supplier.service_type %></h6>
              <% if supplier.get_average == "Este proveedor aún no tiene comentarios" %>
                <p style="color: #000000;"> </p>
              <% else %>
                <h6><i class="fa-sharp fa-solid fa-star pink-button"></i> <%= supplier.get_average %></h6>
              <% end %>
            </div>
          </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%# <%= button_to "Ver información", user_path(supplier), method: :get, params: {event: @event.id}, class:"btn btn-secondary mt-2" %>
<%# <%= cl_image_tag supplier.photos.first.key, class:"card-img-top" %>
<%# <%= link_to "Pagina principal", root_path, class:"btn btn-success" %>


<script>
  function suppliersFilter(filter) {
    let suppliers = document.getElementsByClassName('card-trip');
    for (let i = 0; i < suppliers.length; i++) {
      let supplier = suppliers[i];
      let serviceType = supplier.getAttribute('data-service-type');
      if (serviceType === filter || filter === 'todos') {
        supplier.style.display = 'block';
      } else {
        supplier.style.display = 'none';
      }
    }
  }
</script>
