<div class="container">
  <h1><%= @supplier.business_name %></h1>
  <%= @supplier.description %>

  <div>
  <div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
  </div>

  <% if params["event"] %>
    <div class="container shadow mt-3 p-3 w-50">
        <h5 class="text-center">Mensaje al proveedor</h5> <h6><%= params[:event_type] %></h6>
      <%= simple_form_for [@event, @estimation] do |f| %>
        <%= f.input :delivery_date, input_html:{min: Date.today, max: @event.date} ,html5:true, label: "¿Cuál es la fecha de Entrega?"%>
        <%= f.input :comments, label: "Contale al proveedor lo que necesitás:"  %>
        <%= f.hidden_field :event, value: @event %>
        <%= f.hidden_field :user_id, value: params[:id] %>
              <div class="row d-flex justify-content-center">
          <div class="col-2">
            <%= f.submit "Cotizar", class:"btn btn-success"%>
          </div>
          <div class="col-2">
              <%= link_to "Volver", users_path(event: @event), class:"btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <%= link_to "Volver", root_path %>
  <%= link_to "Crear Evento", pages_events_path  %>
</div>
