
<div class=" container ruta pb-2 mt-3">
  <% if @event %>
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to "Home", root_path, class: "text-decoration-none text-success" %></li>
        <li class="breadcrumb-item"><%= link_to "Servicios", users_path(event: @event), class: "text-decoration-none text-success" %></li>
        <li class="breadcrumb-item active" aria-current="page">Servicio</li>
      </ol>
    </nav>
  <% else %>
      <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to "Home", root_path, class: "text-decoration-none text-success" %></li>
        <li class="breadcrumb-item"><%= link_to "Servicios", users_path(), class: "text-decoration-none text-success" %></li>
        <li class="breadcrumb-item active" aria-current="page">Sevicios</li>
      </ol>
  <% end %>
</div>

<div class="container">
    <h1 class="mt-2"><strong><%= @supplier.business_name %></strong></h1>

    <span class="mt-2 me-3" style="font-size: 15px; margin-top:-11px; margin-bottom:-11px" ></i> <strong>Total de reseñas:</strong> <%= @total_reviews %></span>
    <span><strong> Evaluación promedio:</strong> <%= @promedio%>
      <% if @promedio != "Este proveedor aún no tiene comentarios"   %>
        <% @promedio.times do  %>
                <i class="fa-sharp fa-solid fa-star pb-1" style="color: #FF3BB8;"></i>
      <% end %>
    <% end %>
    </span>

<hr>
<div class=" border shadow p-4" style=" border-radius: 20px;">

    <div class="row">
      <div class="col-6">
        <div class="m-3" >
          <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
              <div class="carousel-inner">
                <div class="carousel-item CarouselImg active">
                  <%= cl_image_tag @supplier.photos.first.key, class:"d-block ", width:600, height:500, crop: :fill %>
                </div>
                <div class="carousel-item CarouselImg">
                  <%= cl_image_tag @supplier.photos.last.key, class:"d-block w-100", width:600, height:500, crop: :fill %>
                </div>
                <div class="carousel-item CarouselImg">
                  <%= cl_image_tag @supplier.photos.second.key, class:"d-block w-100", width:600, height:500, crop: :fill %>
                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="m-3">
          <div class="text-end">
            <span class="card-text text-light fw-bold border-0 rounded bg-success p-2"><%= @supplier.service_type %></span>
          </div>
          <h5 class="card-title mb-3"><strong>Acerca de nosotros: </strong> </h5>
          <p class="card-text mb-4"><%= @supplier.description %></p>
          <p class="card-text mb-1"><i class="fa-regular fa-clock me-2" style="color: #919191;"></i> <small class="text-body-secondary"><%= @supplier.duration %></small> </p>
          <% if @supplier.capacity != nil %>
            <p class="card-text mb-1"><i class="fa-solid fa-users-viewfinder me-2" style="color: #919191;"></i></i><small class="text-body-secondary"><%= @supplier.capacity %> personas.</small> </p>
          <% end %>
          <p class="card-text mb-1"><i class="fa-solid fa-check me-2" style="color: #919191;"></i> <small class="text-body-secondary"><%= @supplier.includes %></small> </p>
          <% if @supplier.benefits != nil %>
            <p class="card-text mb-1"><i class="fa-regular fa-face-grin-wink me-2" style="color: #919191;"></i></i> <small class="text-body-secondary"><%= @supplier.benefits %></small> </p>
          <% end %>
          <p class="card-text mb-1"><i class="fa-regular fa-envelope me-2" style="color: #919191;"></i> <small class="text-body-secondary"><%="Respuesta promedio  #{(2..6).to_a.sample} horas."%></small> </p>
          <p class="card-text mb-"><i class="fa-regular fa-circle-xmark me-2" style="color: #919191;"></i> <small class="text-body-secondary">Servicios adicionales no incluidos.</small> </p>

              <hr>
          <% if params["event"] %>
              <div class="container border shadow p-4" style="background-color: #f0f0f0; border-radius: 20px;">
                  <h5 class="text-center fw-bold mt-2 mb-4">Mensaje al proveedor</h5> <h6><%= params[:event_type] %></h6>
                <%= simple_form_for [@event, @estimation] do |f| %>
                  <%= f.input :comments, label: "Contale al proveedor lo que necesitás:" %>
                  <p class="pb-1"></p>
                  <%= f.input :delivery_date, input_html:{min: Date.today, max: @event.date} ,html5:true, label: "Especificale la fecha de entrega:"%>
                  <%= f.hidden_field :event, value: @event %>
                  <%= f.hidden_field :user_id, value: params[:id] %>
                        <div class="row d-flex justify-content-center">
                    <div class="d-flex justify-content-evenly mt-2">
                      <%= f.submit "Cotizar", class:"btn btn-success text-light"%>
                      <%= link_to "Volver", users_path(event: @event), class:"btn btn-secondary" %>
                    </div>
                  </div>
                <% end %>
              </div>
            <% else %>
              <div class="container border shadow p-5" style="background-color: #f0f0f0; border-radius: 20px;">
                  <h1 class="text-center"> ¿Te gustó este servicio? </h1>
                  <br>
                        <div class="row d-flex justify-content-center">
                    <div class="col-12 mb-3">
                      <h3> Organizá tu evento con Eventik</h3>
                      <p>Accedé a cientos de proveedores exclusivos y creá un evento sin preocupaciones.</p>
                    </div>
                    <br>
                    <div class="d-flex justify-content-evenly mt-2" >
                        <%= link_to "Crear Evento", pages_events_path, class:"btn btn-success text-light" %>
                        <%= link_to "Volver", users_path, class:"btn btn-secondary" %>
                    </div>
                  </div>
              </div>
          <% end %>
              </div>
            </div>
        </div>
</div>


<hr>
      <h1 class="font-$headers-font ">Comentarios para este proveedor</h1>
      <div class= "d-flex justify-content-start align-items-center pt-4 mb-4 pb-5">
        <% @reviews.each do |review| %>
          <div class="card border-0 my-2" style="width: 18rem;">
            <%= image_tag "no_image", class:"img-fluid rounded-start ms-0" %>
            <div class="card-body ms-1">
            <h5 class="card-title pb-1"><li><%= review.comment %> </li></h5>
            <h5 class="fa-sharp fa-solid fa-star pb-1" class="card-title pb-1"> <%=  review.rating %> </h5>
            </div>
          </div>
        <% end %>
      </div>
    </div>




</div>
