<div class="container pb-4 mt-3">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to "Home", root_path, class: "text-decoration-none text-success" %></li>
        <li class="breadcrumb-item"><%= link_to "Mis Eventos", events_path, class: "text-decoration-none text-success" %></li>
        <li class="breadcrumb-item active" aria-current="page">Editar Evento </li>
      </ol>
    </nav>
</div>
<div class="container shadow mt-3 p-3 w-50">
    <div class="d-flex justify-content-between align-items-center">
      <h4><%="#{current_user.name}, vas a editar el evento:" %> </h4>
      <div class="mt-1">
        <span class="d-block text-end pt-1 fw-bold"><%=@event.name.capitalize%></span>
        <span class="text-muted text-end" style="font-size:14px"><%=@event.event_type.name %></span>
      </div>

    </div>

    <div class="d-flex justify-content-start pt-5">
      <p class="me-2"><strong>Fecha: </strong><i class="ms-2 fa-regular fa-calendar"></i> <%="#{@event.date.day}/#{@event.date.month}/#{@event.date.year}" %> </p>
      <p class="ms-4"><strong>Lugar: </strong><i class="fa-solid fa-location-crosshairs me-1"></i><%=@event.address.capitalize%> </p>
    </div>
  <div class="mt-4 pt-3">
    <%= simple_form_for @event do |f| %>
      <div class="fw-bold mt-3">
        <%= f.input :name, label:"Cambiale el Nombre:" %>
      </div>
      <div class="d-flex justify-content-evenly mb-2 pe-5 ps-5 pt-3 pb-3">
        <%= f.submit "Confirmar", class:"btn btn-success text-light"%>
        <%= link_to "Volver", events_path, class:"btn btn-ghost" %>
        </div>

      </div>
    <% end %>

  </div>

</div>
