  <div class="container pb-4">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to "Home", root_path, class: "text-decoration-none text-success" %></li>
        <li class="breadcrumb-item active" aria-current="page">Mis Eventos</li>
      </ol>
    </nav>
  </div>

 <div class="d-flex justify-content-between container">
    <h4 class="flex-grow-1"><%= current_user.name %>, estos son tus Eventos:</h4>
    <%= link_to "Nuevo Evento", pages_events_path, class: "btn btn-success text-light" %>
  </div>
  
<div class="container mt-5">
  <table class="table table-hover">
    <thead class="table-light">
      <tr>
        <th scope="col" class="ps-3">Nº</th>
        <th scope="col">Nombre</th>
        <th scope="col">Tipo de Evento</th>
        <th scope="col">Fecha del Evento</th>
        <th scope="col">Cotizaciones</th>
        <th scope="col">Estado</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="table-light">
      <% current_user.events.order(date: :asc).each_with_index do |event, index| %>
        <tr class="text-start ms-1">
          <th scope="row", class="ps-3"><%= index + 1 %></th>
            <td> <%= event.name %></td>
            <td><%= EventType.find(event.event_type_id).name %></td>
            <td><%= "#{event.date.day}/#{event.date.month}/#{event.date.year}" %></td>
            <td><%= event.estimations.count%>
            <%= link_to "", event_path(event), class:"fa-regular fa-eye text-decoration-none text-muted ms-1", data: {toggle:'tooltip' }, title:"Ver Cotizaciones" %> </td>
            <td> <% if event.status == 'En proceso'%>
              <span><%= event.status%><i class="fa-solid fa-circle ms-3 border border-dark-subtle rounded-circle border border-2" style="color: #F2FF4B"></i><span>
            <% else %>
              <span><%= event.status%><i class="fa-solid fa-circle ms-3 border border-dark-subtle rounded-circle border border-2" style="color: #2EFF94"></i><span>
            <% end %>
            </td>
            <td>
              <%= link_to "", edit_event_path(event), class:"fa-regular fa-pen-to-square mx-2 text-decoration-none text-muted", data: {toggle:'tooltip' }, title:"Editar Evento"%>
              <%= link_to "", event_path(event), data: {turbo_method: :delete, turbo_confirm: "Are you sure?", toggle:'tooltip'}, class:"fa-regular fa-trash-can mx-2 text-decoration-none text-muted", title:"Eliminar Evento" %>
              <% if event.date > Date.today %>
              <%= link_to "", users_path(event: event), class:"fa-regular fa-square-plus text-decoration-none mx-2 text-muted", data: {toggle:'tooltip' }, title:"Agregar servicios" %>
              <% end %>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class= "d-flex justify-content-center mt-5 pt-1 mb-3">
    <%= link_to "Volver", root_path, class: "btn btn-ghost" %>
  </div>

</div>
