<div class="container">
<%= link_to "Crear un Evento", pages_events_path %>
<h6>Tus Eventos</h6>
  <% current_user.events.each do |event| %>
  <div class="card shadow">
  <%= event.name %>
  <p> Tu evento es : <%= EventType.find(event.event_type_id).name %></p>
  <%= event.date %>
  <%= event.status %>
    <div class="d-flex">

      <%= link_to "Cotizaciones", event_path(event) %>
      <%= link_to "Editar tu evento", edit_event_path(event) %>
      <br>

      <% if event.date > Date.today %>
        <%= link_to "Agregar Servicios", users_path(event: event) %>
      <% end %>
    </div>

  </div>
  <% end %>

</div>
