<div class="container shadow mt-5 p-3 w-50">
    <h5 class="text-center">Creá tu Evento</h5> <h6><%= params[:event_type] %></h6>
  <%= simple_form_for @event do |f| %>
    <%= f.input :name, label: "¿Cómo lo vas a llamar?"  %>
    <%= f.input :date, html5:true, label: "¿Cuándo lo vas a hacer?"%>
    <%= f.input :address, label: "¿Dónde?", placeholder: "Av.Libertador 1000, Buenos Aires"  %>
    <%= f.hidden_field :event_type_id, value: @event_type_id %>
          <div class="row d-flex justify-content-center">
      <div class="col-2">
        <%= f.submit "Confirmar", class:"btn btn-success"%>
      </div>
      <div class="col-2">
          <%= link_to "Volver", root_path, class:"btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
