<div class="container">
  <div class="container pb-4 mt-3">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to "Home", root_path, class: "text-decoration-none text-success" %></li>
        <li class="breadcrumb-item"><%= link_to "Mis Eventos", events_path, class: "text-decoration-none text-success" %></li>
        <li class="breadcrumb-item active" aria-current="page">Cotizaciones</li>
      </ol>
    </nav>
  </div>
  <div class="d-flex justify-content-between container">
    <h5 class="flex-grow-1 fw-bold"><%= current_user.name %>, estas son todas tus cotizaciones para el evento: <strong> </h5>
    <div>
      <span> <%= @event.name %></strong></span>
      <span class="ms-1"><i class="ms-2 fa-regular fa-calendar"></i> <%= "#{@event.date.day}/#{@event.date.month}/#{@event.date.year}" %></span>
    <hr>
    </div>

  </div>

  <div class="container mt-5">

    <ul class="nav nav-tabs" id="myTabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="tab1-tab" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">Pendiente de cotización</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="tab2-tab" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">Cotizada por el proveedor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="tab3-tab" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false">En negociación</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="tab4-tab" data-toggle="tab" href="#tab4" role="tab" aria-controls="tab4" aria-selected="false">Aceptadas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="tab5-tab" data-toggle="tab" href="#tab5" role="tab" aria-controls="tab5" aria-selected="false">Canceladas</a>
      </li>

    </ul>

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active table-responsive" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
        <table class="table align-middle table-hover">
          <thead class="text-center">
            <tr class="text-center">
            <th scope="col" class="ps-3">Nº</th>
            <th scope="col">Proveedor</th>
            <th scope="col">Tipo de servicio</th>
            <th scope="col">Fecha de entrega</th>
            <th scope="col">Precio</th>
            <th scope="col"></th>
            </tr>
          </thead>
          <tbody class="table-light table align-middle">
            <% @estimations.where(status:"Pendiente").order(delivery_date: :asc).each_with_index do |estimation, index| %>
              <tr class="text-center ms-1">
                <th scope="row", class="ps-3"><%= index + 1 %></th>
                  <td><%= estimation.user.business_name %></td>
                  <td><%= estimation.user.service_type %></td>
                  <td><%= "#{estimation.delivery_date.day}/#{estimation.delivery_date.month}/#{estimation.delivery_date.year} " %></td>
                  <td><%= estimation.price ? estimation.price : "En proceso de cotización" %></td>
                  <td><%= button_to "", cancel_path(estimation), method: :patch, class:"fa-solid fa-ban text-decoration-none text-muted border-0 bg-light", data: {toggle:'tooltip'}, title:"Cancelar Cotización"%>
                  </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="tab-pane fade table-responsive" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
        <table class="table align-middle table-hover">
          <thead class="text-center">
            <tr class="text-center">
            <th scope="col" class="ps-3">Nº</th>
            <th scope="col">Proveedor</th>
            <th scope="col">Tipo de servicio</th>
            <th scope="col">Fecha de entrega</th>
            <th scope="col">Comentario del proveedor</th>
            <th scope="col">Precio</th>
            <th scope="col"></th>
            </tr>
          </thead>
          <tbody class="table-light table align-middle">
            <% @estimations.where(status:"Cotizada por Proveedor").order(delivery_date: :asc).each_with_index do |estimation, index| %>
              <tr class="text-center ms-1">
                <th scope="row", class="ps-3"><%= index + 1 %></th>
                  <td><%= estimation.user.business_name %></td>
                  <td><%= estimation.user.service_type %></td>
                  <td><%= "#{estimation.delivery_date.day}/#{estimation.delivery_date.month}/#{estimation.delivery_date.year} " %></td>
                  <td><%= estimation.feedback %></td>
                  <td><%= estimation.price %></td>
                  <td class="d-flex">
                  <%= button_to "", accept_path(estimation), method: :patch, class:"fa-solid fa-check text-decoration-none text-muted border-0 bg-light", data: {toggle:'tooltip'}, title:"Aceptar Cotización" %>
                  <%= link_to "", edit_estimation_path(estimation), class:"fa-regular fa-pen-to-square text-decoration-none text-muted", data: {toggle:'tooltip' }, title:"Negociar Cotización"%>
                  <%= button_to "", cancel_path(estimation), method: :patch, class:"fa-solid fa-ban text-decoration-none text-muted border-0 bg-light", data: {toggle:'tooltip'}, title:"Cancelar Cotización"%>
                  </td>

              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="tab-pane fade table-responsive" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
        <table class="table align-middle table-hover">
          <thead class="text-center">
            <tr class="text-center">
            <th scope="col" class="ps-3">Nº</th>
            <th scope="col">Proveedor</th>
            <th scope="col">Tipo de servicio</th>
            <th scope="col">Fecha de entrega</th>
            <th scope="col">Comentario</th>
            <th scope="col">Precio</th>
            <th scope="col"></th>
            </tr>
          </thead>
          <tbody class="table-light table align-middle">
            <% @estimations.where(status:"En Negociación").order(delivery_date: :asc).each_with_index do |estimation, index| %>
              <tr class="text-center ms-1">
                <th scope="row", class="ps-3"><%= index + 1 %></th>
                  <td><%= estimation.user.business_name %></td>
                  <td><%= estimation.user.service_type %></td>
                  <td><%= "#{estimation.delivery_date.day}/#{estimation.delivery_date.month}/#{estimation.delivery_date.year} " %></td>
                  <td><%= estimation.feedback %></td>
                  <td><%= estimation.price ? estimation.price : "Esperando respuesta del proveedor" %></td>
                  <td class="d-flex">
                  <%= button_to "", cancel_path(estimation), method: :patch, class:"fa-solid fa-ban text-decoration-none text-muted border-0 bg-light", data: {toggle:'tooltip'}, title:"Cancelar Cotización"%>
                  </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="tab-pane fade table-responsive" id="tab4" role="tabpanel" aria-labelledby="tab4-tab">
        <table class="table align-middle table-hover">
          <thead class="text-center">
            <tr class="text-center">
            <th scope="col" class="ps-3">Nº</th>
            <th scope="col">Proveedor</th>
            <th scope="col">Tipo de servicio</th>
            <th scope="col">Fecha de entrega</th>
            <th scope="col">Comentario</th>
            <th scope="col">Precio</th>
            <th scope="col"></th>
            </tr>
          </thead>
          <tbody class="table-light table align-middle">
            <% @estimations.where(status:"Aceptada").order(delivery_date: :asc).each_with_index do |estimation, index| %>
              <tr class="text-center ms-1">
                <th scope="row", class="ps-3"><%= index + 1 %></th>
                  <td><%= estimation.user.business_name %></td>
                  <td><%= estimation.user.service_type %></td>
                  <td><%= "#{estimation.delivery_date.day}/#{estimation.delivery_date.month}/#{estimation.delivery_date.year} " %></td>
                  <td><%= estimation.feedback %></td>
                  <td><%= estimation.price %></td>
                  <td class="d-flex">
                    <% if estimation.chatroom %>
                      <%= link_to "", chatroom_path(estimation.chatroom), class:"fa-regular fa-message mx-2 text-decoration-none text-muted", data: {toggle:'tooltip' }, title:"Chatear"%>
                    <% else %>
                      <%= button_to "", estimation_chatrooms_path(estimation.id), method: :post, class:"fa-regular fa-message mx-2 text-decoration-none text-muted border-0 bg-light", data: {toggle:'tooltip' }, title:"Chatear" %>
                    <% end %>
                    <%= link_to "", new_estimation_review_path(estimation), class:"fa-solid fa-star text-decoration-none text-muted", data: {toggle:'tooltip'}, title:"Review del Proveedor"%>
                  </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="tab-pane fade table-responsive" id="tab5" role="tabpanel" aria-labelledby="tab4-tab">
        <table class="table align-middle table-hover">
          <thead class="text-center">
            <tr class="text-center">
            <th scope="col" class="ps-3">Nº</th>
            <th scope="col">Proveedor</th>
            <th scope="col">Tipo de servicio</th>
            <th scope="col">Fecha de entrega</th>
            <th scope="col">Comentario</th>
            <th scope="col">Precio</th>
            </tr>
          </thead>
          <tbody class="table-light table align-middle">
            <% @estimations.where(status:"Suspendida").order(delivery_date: :asc).each_with_index do |estimation, index| %>
              <tr class="text-center ms-1">
                <th scope="row", class="ps-3"><%= index + 1 %></th>
                  <td><%= estimation.user.business_name %></td>
                  <td><%= estimation.user.service_type %></td>
                  <td><%= "#{estimation.delivery_date.day}/#{estimation.delivery_date.month}/#{estimation.delivery_date.year} " %></td>
                  <td><%= estimation.feedback %></td>
                  <td><%= estimation.price ? estimation.price : "No se cotizó" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>




    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <div class="mt-4 d-flex justify-content-end">
      <h3 class="fw-bold bg-light p-2 text-end">Gastos totales: USD <%= @event.total_price  %></h3>
    </div>
     <div class="container mt-1 pt-2 mb-3 d-flex justify-content-start">
      <%= link_to "Volver", root_path, class: "btn btn-ghost" %>
    </div>

  </div>
</div>
