<div class="container">


<h6>Tus Cotizaciones para el Evento: <%= @event.name %></h6>
<h6> Tu evento es: <%= EventType.find(@event.event_type_id).name %></h6>
<hr>
<%= suma = 0  %>
    <% @event.estimations.each do |estimation|  %>
      <% if estimation.status == 'Aceptada'  %>
        <% @suma += estimation.price  %>
      <% end  %>
    <% end %>
<%= "El gasto de tu Evento es US$ #{@suma}" %>

<br>


<% @event.estimations.each do |estimation| %>
<div class="card w-50 mb-5 h-100">
  <p>Proveedor:<%= User.find(estimation.user_id).business_name %></p>
  <p>Tipo de servicio:<%= User.find(estimation.user_id).service_type %></p>
  <p>Estado de la cotización: <%= estimation.status %></p>
  <p>Precio cotizado: <%= estimation.price %></p>
  <p>Fecha de entrega solicitada: <%= estimation.delivery_date %></p>
  <p>Estado del servicio:
      <% if estimation.delivery_date <= Date.today %>
        <%= "En proceso de entrega" %>
      <% else %>
        <%= "Entregado" %>
      <% end %>
    </p>

  <%#= != 'Pendiente' && estimation.status != 'Aceptada' && estimation.status != 'Suspendida'     %>
    <% if estimation.status == "Cotizada por Proveedor"%>
      <%= button_to "Aceptar", accept_path(estimation), method: :patch  %>
      <%#= button_to "Negociar una rebaja", negotiate_path(estimation), method: :patch %>
      <%= link_to "Negociar", edit_estimation_path(estimation) %>
      <%= button_to "Cancelar", cancel_path(estimation), method: :patch %>
    <% elsif estimation.status == 'Pendiente' || estimation.status == "En Negociación" %>
      <%= button_to "Cancelar", cancel_path(estimation), method: :patch %>
    <% end %>

    <% if estimation.status == 'Aceptada' && !estimation.review %>
    <%= link_to "Crear Review", new_estimation_review_path(estimation)  %>
    <% end %>
    <% if estimation.status == 'Aceptada'%>
      <% if estimation.chatroom %>
        <%= link_to "Chat", chatroom_path(estimation.chatroom) %>
        <% else %>
        <%= button_to "Chat", estimation_chatrooms_path(estimation.id), method: :post %>
      <% end %>
    <% end %>
  <% end %>

  <% if @event.date > Date.today %>
    <%= link_to "Agregar Servicios", users_path(event: @event) %>
  <% end %>
</div>

<%= link_to "Mis Eventos", events_path(current_user) %>
</div>
