<div class="container pb-4">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to "Inicio", root_path, class: "text-decoration-none text-success" %></li>
      <li class="breadcrumb-item active" aria-current="page">Eventos</li>
    </ol>
</nav>
</div>


<div class="container p-4 mb-4 w-100 shadow d-flex flex-wrap justify-content-between">
    <div class="card m-3 bg-light shadow rounded my-2" style="width: 15rem;">
      <div class="card-body text-center">
        <h5><%= button_to "Cumpleaños Infantiles", new_event_path, :method => :get, params: {event_type: "Cumpleaños Infantiles"}, class: "card-title text-success text-decoration-none fw-bold border-0 bg-light mt-5 pt-1" %></h5>
      </div>
    </div>

    <div class="card m-3 bg-light shadow rounded my-2 " style="width: 15rem;">
      <div class="card-body text-center">
        <h5><%= button_to "Cumpleaños Adultos", new_event_path, :method => :get, params: {event_type: "Cumpleaños Adultos"}, class: "card-title text-success text-decoration-none fw-bold border-0 bg-light mt-5 pt-1" %></h5>

      </div>
    </div>

    <div class="card m-3 bg-light shadow rounded my-2" style="width: 15rem;">
      <div class="card-body text-center">
        <h5><%= button_to "Despedidas", new_event_path, :method => :get, params: {event_type: "Despedidas"}, class: "card-title text-success text-decoration-none fw-bold border-0 bg-light mt-5 pt-3" %></h5>
      </div>
    </div>

    <div class="card m-3 bg-light shadow rounded my-2" style="width: 15rem;">
      <div class="card-body text-center">
        <h5><%= button_to "Casamientos", new_event_path, :method => :get, params: {event_type: "Casamientos"}, class: "card-title text-success text-decoration-none fw-bold border-0 bg-light mt-5 pt-3" %></h5>
      </div>
    </div>

    <div class="card m-3 bg-light shadow rounded my-2" style="width: 15rem;">
      <div class="card-body text-center">
        <h5><%= button_to "Bautismos", new_event_path, :method => :get, params: {event_type: "Bautismos"}, class: "card-title text-success text-decoration-none fw-bold border-0 bg-light mt-5 pt-3" %></h5>

      </div>
    </div>

    <div class="card m-3 bg-light shadow rounded my-2" style="width: 15rem;">
      <div class="card-body text-center">
        <h5 class="card-title"><%= button_to "Baby Showers", new_event_path, :method => :get, params: {event_type: "Baby Showers"}, class: "card-title text-success text-decoration-none fw-bold border-0 bg-light mt-5 pt-3" %></h5>
      </div>
    </div>

    <div class="card m-3 bg-light shadow rounded my-2" style="width: 15rem;">
      <div class="card-body text-center">
        <h5 class="card-title"><%= button_to "Empresariales", new_event_path, :method => :get, params: {event_type: "Empresariales"}, class: "card-title text-success text-decoration-none fw-bold border-0 bg-light mt-5 pt-3" %></h5>
      </div>
    </div>

    <div class="card m-3 bg-light shadow rounded my-2" style="width: 15rem;">
      <div class="card-body text-center">
        <h5 class="card-title"><%= button_to "15 Años", new_event_path, :method => :get, params: {event_type: "15 Años"}, class: "card-title text-success text-decoration-none fw-bold border-0 bg-light mt-5 pt-3" %></h5>
      </div>
    </div>



</div>
