
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.05),rgba(0,0,0,0.05)), url(https://res.cloudinary.com/dqwouraji/image/upload/v1687000269/Dise%C3%B1o_sin_t%C3%ADtulo_jg1e3v.png);">
    <div class="container">
      <h1>Un evento genial, </h1>
      <h1>necesita un plan genial! </h1>
      <p class= "mt-3 mb-5"> Organizá tu evento de forma simple y rápida.
      <br> ¡Disfrutá el proceso!</p>

        <% if current_user == nil || current_user.supplier == false %>
          <%= link_to "Crear mi Evento", pages_events_path, class: "btn btn-success text-light" %>
        <% end %>
    </div>
  </div>
  <br>
  <div class="container">
    <h1>Un evento genial, </h1>
    <h1>necesita un plan genial! </h1>
    <p class= "mt-3 mb-5"> Organizá tu evento de forma simple y rápida.
    <br> ¡Disfrutá el proceso!</p>

      <% if current_user == nil || current_user.supplier == false %>
        <%= link_to "Crear mi Evento", pages_events_path, class: "btn btn-success text-light" %>
      <% end %>
  </div>
</div>
<br>
<div class="container">
  <h1 class="font-$headers-font mt-3 mb-5">¡Es súper simple!</h1>

  <div class="d-flex justify-content-between flex-wrap">
    <div class="bg-light shadow rounded my-2" style="width: 18rem;">
      <%=image_tag "2.png", width: 500, heigth: 500, class:"card-img-top px-4", crop: :fill %>
      <div class="card-body text-center">
        <h5> <%= link_to "1. Definí tu Evento",pages_events_path, class: "card-title text-success text-decoration-none fw-bold"  %> </h5>
        <p class="card-text text-secondary p-2 mb-2"> Elegí una opción que se ajuste al tipo de Evento que estás planeando.</p>
      </div>
    </div>

      <div class="bg-light shadow rounded my-2" style="width: 18rem;">
        <%= image_tag "3.png", width: 500, heigth: 500, class:"card-img-top px-4", crop: :fill %>
        <div class="card-body text-center">
          <h5> <%= link_to "2. Elegí la fecha",pages_events_path, class: "card-title text-success text-decoration-none fw-bold" %></h5>
          <p class="card-text text-secondary p-2 mb-2"> ¿Cómo se llamará tu evento? ¿Cuándo lo vas a hacer?</p>
        </div>
      </div>

      <div class="bg-light shadow rounded my-2" style="width: 18rem;">
        <%= image_tag "4.png", width: 500, heigth: 500, class:"card-img-top px-4", crop: :fill %>
        <div class="card-body text-center">
          <h5> <%= link_to "3. Encontrá los servicios que necesitás",users_path, class: "card-title text-success text-decoration-none fw-bold"  %> </h5>
          <p class="card-text text-secondary p-2 mb-2"> Proveedores de espacios, catering, fotografía, entretenimiento y más! </p>
        </div>
      </div>

        <div class="bg-light shadow rounded my-2" style="width: 18rem;">
          <%= image_tag "5.png", width: 500, heigth: 500, class:"card-img-top px-4", crop: :fill %>
          <div class="card-body text-center">
            <h5> <%= link_to "4. Pedí Cotizaciones",pages_events_path, class: "card-title text-success text-decoration-none fw-bold" %> </h5>

            <p class="card-text text-secondary p-2 mb-2"> Cuando te guste un servicio, podés pedirle una cotización y negociar con el proveedor. </p>
          </div>
      </div>

        <div class="bg-light shadow rounded my-2" style="width: 18rem;">
          <%= image_tag "6.png", width: 500, heigth: 500, class:"card-img-top px-4", crop: :fill %>
          <div class="card-body text-center">
            <h5> <%= link_to "5. ¡Tu Evento está listo!",pages_events_path, class: "card-title text-success text-decoration-none fw-bold" %>  </h5>
            <p class="card-text text-secondary p-2 mb-2"> Cada vez que confirmes una cotización, se agrega a tu plan ¡y podés darle seguimiento!  </p>
          </div>
      </div>

        <div class="bg-light shadow rounded my-2" style="width: 18rem;">
          <%= image_tag "7.png", width: 500, heigth: 500, class:"card-img-top px-4", crop: :fill %>
          <div class="card-body text-center">
            <h5> <%= link_to "6. Calificá los servicios que contrataste",pages_events_path, class: "card-title text-success text-decoration-none fw-bold" %> </h5>
            <p class="card-text text-secondary p-2 mb-2"> Una vez que tu Evento pasó, tomate un tiempito para las Reviews. </p>
          </div>
  </div>
</div>

  <div class= "d-flex justify-content-around align-items-center pt-5 mt-5 mb-5 ">
    <h1 class="font-$headers-font flex-grow-1">Los Servicios más elegidos</h1>
    <%= link_to "Ver todos", users_path, class: "btn btn-success text-light", style: "height:40px" %>
  </div>


  <div class="d-flex justify-content-between flex-wrap">
    <%= link_to user_path(@user1), class: "text-decoration-none text-secondary" do %>
        <div class="card-trip me-2 mb-4">
          <img src="https://res.cloudinary.com/dqwouraji/image/upload/v1686950629/t6a4xi2nmqvxwod0sxvzhsm1qjuq.png", style="linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8))" />
          <div class="card-trip-infos">
            <div>
              <h2>Proyecto Lio Jump</h2>
              <p class= "lh-base mt-1">Somos un parque de camas elásticas y juegos, el lugar ideal para pasar un cumpleaños divertido, lleno de aventura y mucho salto!</p>
            </div>
          </div>
        </div>
    <% end %>

    <%= link_to user_path(@user2), class: "text-decoration-none text-secondary" do %>
        <div class="card-trip me-2 mb-4">
          <img src="https://res.cloudinary.com/dqwouraji/image/upload/v1687025834/que_cualidades_necesitas_para_ser_un_buen_fotografo_profesional1_r2kful.jpg" />
          <div class="card-trip-infos">
            <div>
              <h2>Casa Emma</h2>
              <p class= "lh-base mt-1">Somos un estudio boutique de fotografía. No especializamos en fotografía de moda, publicidad, productos, books, editoriales, campañas.</p>
            </div>
          </div>
        </div>
    <% end %>

    <%= link_to user_path(@user3), class: "text-decoration-none text-secondary" do %>
        <div class="card-trip mb-4">
          <img src="https://res.cloudinary.com/dqwouraji/image/upload/v1687026446/covertirme-bartender-profesional-1200x720_nyhd0m.jpg" />
          <div class="card-trip-infos">
            <div>
              <h2>Dashing Drink</h2>
              <p class= "lh-base mt-1" >Disfrutá una experiencia única de coctelería para todo tipo de ocasiones especiales. Tenemos una barra móvil totalmente equipada adaptable a cualquier espacio.</p>
            </div>
          </div>
        </div>
    <% end %>

  </div>

  <h1 class="font-$headers-font mt-5 pt-2">Eventikers felices</h1>
  <div class= "d-flex justify-content-start align-items-center pt-4 mb-4 pb-5">
    <% @reviews.take(3).each do |review| %>
      <div class="card border-0 my-2" style="width: 18rem;">
        <% if review.estimation.event.user.avatar.attached? %>
          <%= cl_image_tag review.estimation.event.user.avatar.key, height: 180, width: 180, crop: :fill, class:"img-fluid rounded-start ms-0" %>
        <% else %>
          <%= image_tag "no_image", class:"img-fluid rounded-start ms-0" %>
        <% end %>
        <div class="card-body ms-1">
        <h5 class="card-title pb-1"><%= review.estimation.event.user.name %></h5>
        <d-flex>
              <% review.rating.to_i.times do  %>
                <i class="fa-sharp fa-solid fa-star pb-1" style="color: #FF3BB8;"></i>
              <% end %>
          </d-flex>
          <p class="card-text pt-1"><%= review.comment %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
