<div class="container p-5 w-50 bg-light shadow rounded my-2">
    <h2 class= "text-center mb-3">Bienvenido de nuevo <i class="fa-solid fa-face-smile-wink" style="color: #5C5C5C;"></i></h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
    <div class="form-inputs">
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  label: "Contraseña",
                  required: false,
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions d-flex mb-3">
      <%= f.button :submit, "Log in", class: "btn btn-success text-light flex-grow-1" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
