
  <div class="container pb-4">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to "Home", root_path, class: "text-decoration-none text-success" %></li>
        <li class="breadcrumb-item active" aria-current="page">Mis Cotizaciones</li>
      </ol>
    </nav>
  </div>

  <div class="d-flex justify-content-between container">
    <h4 class="flex-grow-1"><%= current_user.business_name %>, estos son los eventos que te solicitaron cotización:</h4>
  </div>

<div class="container mt-5">
  <table class="table table-hover table-responsive">
    <thead class="table-light table align-middle">
      <tr>
        <th scope="col" class="ps-3">Nº</th>
        <th scope="col">Solicitante</th>
        <th scope="col">Evento</th>
        <th scope="col">Fecha del servicio</th>
        <th scope="col">Consulta del cliente</th>
        <th scope="col">Precio cotizado</th>
        <th scope="col">Estado de la cotizacion</th>


      </tr>
    </thead>
    <tbody class="table-light table align-middle">
      <% @estimations.each_with_index do |estimation, index| %>
        <tr class="text-start ms-1">
          <th scope="row", class="ps-3"><%= index + 1 %></th>
            <td><%= User.find(Event.find(estimation.event_id).user_id).name %></td>
            <td><%= Event.find(estimation.event_id).name %></td>
            <td><%= "#{estimation.delivery_date.day}/#{estimation.delivery_date.month}/#{estimation.delivery_date.year}"%></td>
            <td><%= estimation.comments %></td>
            <td><%= estimation.price %></td>
            <td>
            <% if estimation.status == "Cotizada por Proveedor" %>
              <%= "Esperando respuesta de  #{User.find(Event.find(estimation.event_id).user_id).name}" %>
            <% elsif estimation.status == "Pendiente" || estimation.status == "En Negociación" %>
              <%= link_to "Responder", edit_estimation_path(estimation), class: "btn btn-primary" %>
            <% elsif estimation.status == "Rechazada" || estimation.status == "Suspendida" %>
              <%= " #{User.find(Event.find(estimation.event_id).user_id).name} canceló la solicitud" %>
            <% else %>
              <%= " #{User.find(Event.find(estimation.event_id).user_id).name} aceptó tu cotización" %>
            <% end %>
            </td>

        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "Volver", root_path, class: "btn btn-primary text-light" %>
</div>
