<div class="container">
  <div class="container pb-4 mt-3">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to "Home", root_path, class: "text-decoration-none text-success" %></li>
        <li class="breadcrumb-item active" aria-current="page">Mis Cotizaciones</li>
      </ol>
    </nav>
  </div>

  <div class="d-flex justify-content-between container">
    <h5 class="flex-grow-1 fw-bold"><%= current_user.business_name %>, estas son todas tus cotizaciones:</h5>
  </div>

  <div class="container mt-5">

    <ul class="nav nav-tabs" id="myTabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="tab1-tab" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">Para Cotizar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="tab2-tab" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">En Negociación</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="tab3-tab" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false">Esperando Respuesta</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="tab4-tab" data-toggle="tab" href="#tab4" role="tab" aria-controls="tab4" aria-selected="false">Confirmadas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="tab5-tab" data-toggle="tab" href="#tab5" role="tab" aria-controls="tab5" aria-selected="false">Canceladas</a>
      </li>

    </ul>

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active table-responsive" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
        <table class="table align-middle table-hover">
          <thead class="text-center">
            <tr class="align-middle">
            <th scope="col" class="ps-3">Nº</th>
            <th scope="col">Cliente</th>
            <th scope="col">Evento</th>
            <th scope="col">Fecha de Entrega</th>
            <th scope="col">Consulta del Cliente</th>
            <th scope="col"></th>
            </tr>
          </thead>
          <tbody class="table-light table align-middle">
            <% @estimations.where(status:"Pendiente").order(delivery_date: :asc).each_with_index do |estimation, index| %>
              <tr class="text-center ms-1">
                <th scope="row", class="ps-3"><%= index + 1 %></th>
                  <td><%= User.find(Event.find(estimation.event_id).user_id).name %></td>
                  <td><%= Event.find(estimation.event_id).name %></td>
                  <td><%= "#{estimation.delivery_date.day}/#{estimation.delivery_date.month}/#{estimation.delivery_date.year} " %></td>
                  <td><%= estimation.comments %></td>
                  <td><%= link_to "", edit_estimation_path(estimation), class:"fa-regular fa-pen-to-square mx-2 text-decoration-none text-muted", data: {toggle:'tooltip' }, title:"Cotizar Evento"%></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="tab-pane fade table-responsive" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
        <table class="table align-middle table-hover">
          <thead class="text-center">
            <tr class="align-middle">
            <th scope="col" class="ps-3">Nº</th>
            <th scope="col">Cliente</th>
            <th scope="col">Evento</th>
            <th scope="col">Fecha de Entrega</th>
            <th scope="col">Consulta del Cliente</th>
            <th scope="col">Precio Cotizado</th>
            <th scope="col">Tu Respuesta</th>
            </tr>
          </thead>
          <tbody class="table-light table align-middle">
            <% @estimations.where(status:"Cotizada por Proveedor").order(delivery_date: :asc).each_with_index do |estimation, index| %>
              <tr class="text-center ms-1">
                <th scope="row", class="ps-3"><%= index + 1 %></th>
                  <td><%= User.find(Event.find(estimation.event_id).user_id).name %></td>
                  <td><%= Event.find(estimation.event_id).name %></td>
                  <td><%= "#{estimation.delivery_date.day}/#{estimation.delivery_date.month}/#{estimation.delivery_date.year} " %></td>
                  <td><%= estimation.comments %></td>
                  <td><%= estimation.price %></td>
                  <td><%= estimation.feedback %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="tab-pane fade table-responsive" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
        <table class="table align-middle table-hover">
          <thead class="text-center">
            <tr class="align-middle">
            <th scope="col" class="ps-3">Nº</th>
            <th scope="col">Cliente</th>
            <th scope="col">Evento</th>
            <th scope="col">Fecha de Entrega</th>
            <th scope="col">Consulta del Cliente</th>
            <th scope="col">Precio Cotizado</th>
            <th scope="col">Tu Respuesta</th>
            <th scope="col"></th>
            </tr>
          </thead>
          <tbody class="table-light table align-middle">
            <% @estimations.where(status:"En Negociación").order(delivery_date: :asc).each_with_index do |estimation, index| %>
              <tr class="text-center ms-1">
                <th scope="row", class="ps-3"><%= index + 1 %></th>
                  <td><%= User.find(Event.find(estimation.event_id).user_id).name %></td>
                  <td><%= Event.find(estimation.event_id).name %></td>
                  <td><%= "#{estimation.delivery_date.day}/#{estimation.delivery_date.month}/#{estimation.delivery_date.year} " %></td>
                  <td><%= estimation.comments %></td>
                  <td><%= estimation.price %></td>
                  <td><%= estimation.feedback %></td>
                  <td><%= link_to "", edit_estimation_path(estimation), class:"fa-regular fa-pen-to-square mx-2 text-decoration-none text-muted", data: {toggle:'tooltip' }, title:"Negociar"%></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="tab-pane fade table-responsive" id="tab4" role="tabpanel" aria-labelledby="tab4-tab">
        <table class="table align-middle table-hover">
          <thead class="text-center">
            <tr class="align-middle">
            <th scope="col" class="ps-3">Nº</th>
            <th scope="col">Cliente</th>
            <th scope="col">Evento</th>
            <th scope="col">Fecha de Entrega</th>
            <th scope="col">Consulta del Cliente</th>
            <th scope="col">Precio Cotizado</th>
            <th scope="col">Tu Respuesta</th>
            <th scope="col">Estado</th>
            <th scope="col"></th>
            </tr>
          </thead>
          <tbody class="table-light table align-middle">
            <% @estimations.where(status:"Aceptada").order(delivery_date: :asc).each_with_index do |estimation, index| %>
              <tr class="text-start ms-1">
                <th scope="row", class="ps-3"><%= index + 1 %></th>
                  <td><%= User.find(Event.find(estimation.event_id).user_id).name %></td>
                  <td><%= Event.find(estimation.event_id).name %></td>
                  <td><%= "#{estimation.delivery_date.day}/#{estimation.delivery_date.month}/#{estimation.delivery_date.year} " %></td>
                  <td><%= estimation.comments %></td>
                  <td><%= estimation.price %></td>
                  <td><%= estimation.feedback %></td>
                  <td>
                    <% if estimation.delivery_date < Date.today %>
                      <span><i class="fa-solid fa-circle ms-3 border border-dark-subtle rounded-circle border border-2" style="color: #2EFF94" data-toggle="tooltip" title="Entregado"></i></span>
                    <% else %>
                      <span><i class="fa-solid fa-circle ms-3 border border-dark-subtle rounded-circle border border-2" style="color: #F2FF4B" data-toggle="tooltip" title="Pendiente de Entrega"></i></span>
                    <% end %>
                  </td>
                  <td>
                    <% if estimation.chatroom %>
                      <%= link_to "", chatroom_path(estimation.chatroom), class:"fa-regular fa-message mx-2 text-decoration-none text-muted", data: {toggle:'tooltip' }, title:"Chatear"%>
                    <% else %>
                      <%= button_to "", estimation_chatrooms_path(estimation.id), method: :post, class:"fa-regular fa-pen-to-square mx-2 text-decoration-none text-muted border-0 bg-light", data: {toggle:'tooltip' }, title:"Chatear" %>
                    <% end %>
                  </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="tab-pane fade table-responsive" id="tab5" role="tabpanel" aria-labelledby="tab4-tab">
        <table class="table align-middle table-hover">
          <thead class="text-center">
            <tr class="align-middle">
            <th scope="col" class="ps-3">Nº</th>
            <th scope="col">Cliente</th>
            <th scope="col">Evento</th>
            <th scope="col">Fecha de Entrega</th>
            <th scope="col">Consulta del Cliente</th>
            <th scope="col">Precio Cotizado</th>
            <th scope="col">Tu Respuesta</th>
            <th scope="col"></th>
            </tr>
          </thead>
          <tbody class="table-light table align-middle">
            <% @estimations.where(status:"Suspendida").order(delivery_date: :asc).each_with_index do |estimation, index| %>
              <tr class="text-start ms-1">
                <th scope="row", class="ps-3"><%= index + 1 %></th>
                  <td><%= User.find(Event.find(estimation.event_id).user_id).name %></td>
                  <td><%= Event.find(estimation.event_id).name %></td>
                  <td><%= "#{estimation.delivery_date.day}/#{estimation.delivery_date.month}/#{estimation.delivery_date.year} " %></td>
                  <td><%= estimation.comments %></td>
                  <td><%= estimation.price %></td>
                  <td><%= estimation.feedback %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>




    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <div class="d-flex justify-content-center mt-5 mb-4 pt-5 me-0">
    <%= link_to "Volver", root_path, class: "btn btn-ghost" %>
    </div>

  </div>
</div>
